@import './variables';
.artworks-page {
  display: block;
  margin: 0;
  .artworks-filter__container {
    display: flex;
    border: 1px solid red;
    justify-content: center;
    place-items: center;
    //padding: 0 2em;
  }
  .filtered-artworks__section {
    background-color: @background-gray;
  }
}

