.spin-loader-container {
  text-align: center;
  margin-top: 4rem;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
  .submit-btn {
    width: 80%;
    text-align: center;
  }
}

.lower-link {
  text-align: center;
}

.section-title {
  font-size: 2rem !important;
  font-family: 'Rufina', sans-serif !important;
}

@media(min-width: 576px) {
  .submit-btn-container .submit-btn {
    width: 40%;
  }
  .section-title {
    font-size: 3rem !important;
  }
}



