.spin-loader-container {
  text-align: center;
  margin-top: 4rem;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
  .submit-btn {
    width: 80%;
    text-align: center;
  }
}

.lower-link {
  text-align: center;
}

@media(min-width: 576px) {
  .submit-btn-container .submit-btn {
    width: 40%;
  }
}



