@import './variables';
.spin-loader-container {
  text-align: center;
  margin-top: 4rem;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
  .submit-btn {
    width: 80%;
    text-align: center;
  }
}

.lower-link {
  text-align: center;
}

.elements-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-masonry-grid {
  display: flex;
  width: 100%;
}
.my-masonry-grid_column {
  padding: 10px 10px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.section-title {
  font-size: 2rem !important;
  text-align: center !important;
  font-family: 'Rufina', sans-serif !important;
}

.card-text {
  color: @secondary-text;
}

.card-text__category {
  font-size: 1rem;
}

.artwork-card__icon {
  font-size: 1.3rem;
}

@media(min-width: 576px) {
  .submit-btn-container .submit-btn {
    width: 40%;
  }
  .section-title {
    font-size: 3rem !important;
  }
}



