@import './variables';

.ant-dropdown {
  position: fixed;
  box-shadow: 0 6px 16px -3px rgba(0,0,0,0.29) !important;
}

.ant-dropdown-trigger {
  color: @website-dark;
  text-decoration: none;
  &:hover {
    color: @accent-color;
  }
}

.ant-menu:not(.ant-menu-horizontal) {
  background-color: @light-gray;
  margin-top: -1rem;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item {
  text-align: center;
  &:hover {
    background-color: @background-gray;
  }
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected, .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-active {
  background-color: @light-gray;
}
