@import './variables';

.home-page {
  display: block;
  margin: 0;
  .carousel-image-container {
    position: relative;
    text-align: center;
    color: white;
    .carousel-image {
      height: 500px;
      width: 100%;
      filter: brightness(23%);
    }
    .promo-text {
      position: absolute;
      top: 50%;
      font-family: Rufina, sans-serif;
      font-size: 2rem;
      left: 50%;
      transform: translate(-50%, -50%)
    }
  }
  .recommended-section {
    background-color: @background-gray;
  }
}

@media (min-width: 768px) {
  .home-page .carousel-image-container .promo-text {
    font-size: 3rem;
  }
}


